.App {
  text-align: center;
}



body {
  background-color:lightgray;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}


/* Navbar */

.navigation_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000d8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #5e5e5e;
}

/* Buttons */

.start_button {
  background-color: rgb(255, 255, 255);
  border: solid #111;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 24px;
  border-radius: 10px;
  text-align: center;
  transition-property: transform;
  transition-duration: 0.3s;
}

.start_button_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start_button:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  transform: translateY(+10px);
}

.erste_button {
  background-color: rgb(255, 255, 255);
  border: solid #111;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 24px;
  width: 13em;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  transition-property: transform;
  transition-duration: 0.3s;
}

.double_button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.erste_button:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  transform: translateY(+5px);
}


/* Progress-bar */

.progress-bar {
  height: 8px;
  background-color: #26a52a;
  top: 60px;
  transition: width 0.3s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}