@keyframes slideleft {
    from {
        transform: translateX(-800px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideright {
    from {
        transform: translateX(800px);
    }

    to {
        transform: translateX(0);
    }
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    animation-name: slideleft;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}


h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation-name: slideright;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}


.gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-right: 150px;
    margin-left: 150px;
  }
  
  .gallery img {
    width: 400px;
    height: 600px;
    object-fit: cover;   
    margin-right: 10px; 
  }

  ::-webkit-scrollbar {
    display: none;
  }


  