.container {
    padding-top: 50px;
    padding-left: 400px;
    padding-right: 400px;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=submit] {
  background-color: #26a52a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #337436;
}

.container {
  border-radius: 5px;
}